
<h1> Welcome to myCourse</h1>
<hr>
<div class="container">
  <div class="panel panel-default">
    <h3 class="panel-heading">Enrollment Report for Class Angular 101</h3>
    <div class="panel-body">
      <p>Please find the report below for detailed enrollment data</p>
    </div>

    <!-- List group -->
    <ul class="list-group">
      <li class="list-group-item">Total enrollment capacity : <b>{{report.total}}</b></li>
      <li class="list-group-item">Number of available open seats <b>{{report.regularAvailable}}</b></li>
      <li class="list-group-item">Number of available reserved seats <b>{{report.reservedAvailable}}</b></li>
    </ul>

    <hr>

    <h3 class="panel-heading">List of reserved plan</h3>
    <br>
    <table class="table">
      <thead>
      <tr>
        <th>Sequence Id</th>
        <th>Capacity</th>
        <th>Effective Date</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let reservation of course['reservations']">
        <td>{{reservation.sequenceId}}</td>
        <td>{{reservation.reservationCapacity}}</td>
        <td>{{reservation.effectiveStartDate}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

